#<IfModule mod_rewrite.c>

#   RewriteEngine On

 #  RewriteCond %{REQUEST_FILENAME}  -f [OR]
#   RewriteCond %{REQUEST_FILENAME} !-f
#   RewriteRule ^(.*)$ index.php [L,QSA]

#</IfModule>

<IfModule mod_rewrite.c>
	RewriteEngine On

	# Send every request to index.php

	RewriteBase /
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule . /index.php [L]
</IfModule>